.venv/
LD_chr22_training/
sample_clinicalData/
test_plink/
TestDataProcessed/
dream1_Gwas_result/
deam1_LD_plinkTOzarr/
qced_genotype_out/   
CMdream1/
CMdream2/
Toy_example_expr/

# the output file is used to test some examples in mgp's readme
output/

# above is for dream1,2,3 .ld files

# training data is too big to include
data/*
!data/utils/
temp/