.venv/
LD_chr22_training/
sample_clinicalData/
test_plink/
TestDataProcessed/
dream1_Gwas_result/
deam1_LD_plinkTOzarr/
qced_genotype_out/   
Toy_example_expr/
1000GP_Phase3.tgz

# the output file is used to test some examples in mgp's readme
output/

# some CM folders about RA qced data
CMdream1/
CMdream2/
merged123/
CMAll_qced/*

# training data is too big to include
data/*
!data/utils/
!data/phenotype_data/
temp/
ELBO_history_fig/
Real_phe_expr/
CCanada_Run/merge10.sumstats